/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?hjinao');
    src:  url('../fonts/icomoon.eot?hjinao#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?hjinao') format('truetype'),
      url('../fonts/icomoon.woff?hjinao') format('woff'),
      url('../fonts/icomoon.svg?hjinao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  } 

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    /* height: 2000px; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

/* ------------------------------------搜索模块 ----------------------------*/
.search-index {
    display: flex;
    /* 固定定位跟父级无关，以屏幕为准 */
    position: fixed;
    top: 0;
    /* 京东做法：不写left和transform */
    left: 50%;
    transform: translateX(-50%);
    /* 兼容老版本浏览器 */
    -webkit-transform: translateX(-50%);
    /* 固定定位的盒子要有宽度 */
    width: 100%;
    max-width: 540px; 
    min-width: 320px;
    height: 44px;
    /* background-color: pink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    flex: 1;
    position: relative;
    height: 26px;
    line-height: 24px;
    border: 1px solid #cccccc;
    /* font-size: 12px; */
    color: #666;
    margin: 7px 10px;
    padding-left: 25px;
    /* background-color: red; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 默认有灰色边框需要手动去掉 */
    border: 0;
    outline: none;    
    background-color: #f2f2f2;
    font-size: 14px;
    width: 100%;
}

.search::before {
    content: "";
    position: absolute;
    top:5px;
    left: 5px;
    /* display: block; */
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
    /* margin: 5px; */
}

.user {
    width: 44px;
    height: 44px;
    /* background-color: purple; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}

/* -----------------------------------焦点图-------------------------------- */
.focus {
    padding-top: 44px;
}

.focus img{
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/* -------------------------------局部导航栏--------------------------- */
.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    /* 单行侧轴居中对齐 */
    align-items: center;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    /* background-color: pink; */
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}

/* -----------------------------主导航栏---------------------- */
nav {
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}

.nav-common {
    display: flex;
    height: 88px;
    /* background-color: pink; */
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    /* 不冲突 */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-common:nth-child(1) .nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-common:nth-child(2) .nav-items:nth-child(1) a {
    border: 0;
}
.nav-common:nth-child(3) .nav-items:nth-child(1) a {
    border: 0;
}
/* .nav-common:nth-child(2) .nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/sprite.png) no-repeat;
    background-position: 0 -565px;
    background-size: 121px auto;
} */

.nav-common:nth-child(2) .nav-items:nth-child(1) a::after {
    content: "";
    display: block;
    width: 40px;
    height: 30px;
    background: url(../images/sprite.png) no-repeat 0 -297px;
    background-size: 104px auto;
    margin: 2px auto 0px;
}

.nav-common:nth-child(3) .nav-items:nth-child(1) a::after {
    content: "";
    display: block;
    width: 40px;
    height: 30px;
    background: url(../images/sprite.png) no-repeat 0 -239px;
    background-size: 104px auto;
    margin: 0px auto 0px;
}

/* 前面两个元素 */
.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

/* ----------------------------侧导航栏subnav-entry------------------- */
.subnav-entry {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 4px 4px 8px;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.subnav-entry li {
    /* 里面的子盒子可以写%  相对于父级来说 */
    flex: 20%;
}

.subnav-entry li:nth-child(-n+5) {
    margin-bottom: 8px;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .subnav-entry-icon {
    width: 21px;
    height: 21px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(2) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -26px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(3) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -53px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(4) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -85px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(5) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -114px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(6) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -139px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(7) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -168px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(8) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat -1px -223px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(9) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -249px;
    background-size: 24px auto;
}

.subnav-entry li:nth-child(10) .subnav-entry-icon {
    background: url(../images/subnav-bg.png) no-repeat 0 -275px;
    background-size: 24px auto;
}

/* ------------------------sales-box---------------------- */
.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background:url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #ff506c, #ff68c6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}

/* --------------------服务模块---------------------- */
.service {
    display: flex;
    background-color: #fff;
    margin: 9px 4px 10px ;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.service li {
    flex: 1;
}

.service li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.service li a .service-msg {
    width: 21px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat -58px -152px;
    background-size: 104px auto;
    margin-top: 7px;
}

.service li:nth-child(2) a .service-msg {
    background: url(../images/sprite.png) no-repeat -59px -172px;
    background-size: 104px auto;
}

.service li:nth-child(3) a .service-msg {
    background: url(../images/sprite.png) no-repeat -58px -309px;
    background-size: 104px auto;
}

/* --------------------底部模块------------------- */
.footer {
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    height: 45px;
    align-items: center;
}

.footer-net {
    font-size: 14px;
    margin-bottom: 5px;
    /* color: #bbb; */
    /* color: rgba(150, 150, 150, .9); */
}

.footer span:nth-child(2) {
    font-size: 12px;
    color: #bbb;
}

.footer-net span {
    position: relative;
    padding:  0 18px 0 12px;
    margin-left: 10px;
}

.footer-net span::after {
    content: "";
    position: absolute;
    top:6px;
    right: 9px;
    width: 5px;
    height: 5px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg);
}

.footer-net span::before {
    position: absolute;
    font-family: 'icomoon';
    content: "\e907";
    left: -8px;
}

/* .shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #b1191a;
} */